@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar-nav .nav-item a {
    padding: 0px 10px;
}

.line {
    width: 2px;
    height: 30px;
    display: block;
    background-color: black;
    margin: 0px 15px;
}

.hamburger-icon span {
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
    padding: 0px 10px;
}



.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid transparent;
    z-index: 999;
    min-height: 80px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.nav {
    position: fixed;
    height: 500px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: block;
}

.nav.nav-white {
    background-color: #ffffff;
    width: 50%;
    padding: 40px;
    right: 0px;
    top: 22px;
}

.nav.visible {
    transform: translateX(0);
}

.nav-white.visible {
    border-radius: 30px;
    right: 50px;
    z-index: 0;
}

.close-btn {
    opacity: 0.7;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #1b1919;
    font-size: 30px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin: 20px 0;
}

.list li a {
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider-bus {
    min-height: 100vh;
    position: relative;
}

.slider-bus .ontop {
    position: relative;
    z-index: 5;
    height: 50vh;
    top: 100px;
    display: flex;
    justify-content: center;

}

.slider-bus .caption h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #fff;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s, visibility .5s;
    -o-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}

.slider-bus .caption .thin {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 5px;
    opacity: 10;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
    color: #eee;
}

.slider-bus .caption p {
    color: #eee;
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.slider-bus .caption .simple-btn,
.slider-bus .caption .btn-curve {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.btn-curve span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.btn-curve.btn-color span {
    color: #fcfcfd;
}

.btn-curve.btn-color:after {
    background: #fff;
}

.btn-curve:after {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: 130%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.slider-bus .swiper-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.curve-bg {
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}


.slider-bus .setone .swiper-nav-ctrl {
    color: #ccc;
    font-size: 13px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: static;
}

.slider-bus .swiper-pagination-fraction {
    position: absolute;
    top: -26px;
    right: auto;
    left: 80px;
    width: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.slider-bus .setone {
    position: absolute;
    top: -47px;
    right: auto;
    left: 8px;
    width: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    display: flex;
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current {
    font-size: 60px;
    font-weight: 700;
    position: relative;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current:after {

    color: #fff;
    position: relative;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 100;
}

.video-btn {
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    align-items: center;
    margin: auto;
}

svg.svg-inline--fa.fa-play.fa-w-14 {
    color: #eee;
}

.caption {
    position: relative;
    top: 40px;
}

.swiper-slide .row {
    align-items: center;
}

.mySwiperSmall .swiper-slide {
    padding: 5px 30px 15px;
    border-radius: 20px;
    min-height: 200px;
}

.mySwiperSmall .swiper-slide:nth-child(1) {
    background: #f7a600;
}

.mySwiperSmall .swiper-slide:nth-child(2) {
    background: #009dcb;
}

.mySwiperSmall .swiper-slide:nth-child(3) {
    background: #e30613;
}

.slider-text {
    width: 70%;
}

.slider-text h3 {
    color: #fff;
}

.mySwiperSmall .swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    padding: 3px;
}

.mini-card {
    width: 300px;
    padding: 10px;
    position: absolute;
}




.right-img {
    background-image: url(../images/Layer61.png);
    background-repeat: no-repeat;
    height: 450px;
    background-size: contain;
    -webkit-background-size: contain;
    position: relative;

}

.left-svg {
    position: relative;
    top: 200px;
    left: -60px;
}

.container.mini-sliders {
    height: 40vh;
    margin-top: 100px;
}

.mini-cards {
    padding-bottom: 100px;
}

.mini-cards .card {
    padding: 25px;
    border-radius: 30px;
    min-height: 200px;
    position: relative;
    display: block;
    transition: all 250ms;

}

.mini-cards .card .card-link {
    display: none;
    opacity: 0;

}

.mini-cards .card:hover {
    min-height: 250px;
}

.mini-cards .card:hover .card-link {
    display: block;
    opacity: 1;
}

.mini-cards .card .card-bodyx {
    margin-top: 20px;
    padding-right: 20px;
}

.slider-vertical-title {
    transform: translateY(100px);
}

.slider-vertical-title h3 {
    transform: rotate(270deg);


}

.line-item {
    border: 1px solid #1b1919;
    opacity: 0.5;
    margin: 10px 0px;
}

.container.news-slider {
    background: #ededed;
    padding: 50px;
    margin-top: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: -30px;
    position: relative;
}

.slider-bus .setone .swiper-nav-ctrl {
    padding: 14px;
    color: rgb(204, 204, 204);
    font-size: 12px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    line-height: 17px;
    text-align: center;
    margin: 60px 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: static;
    background: #4d4a4a;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 10px !important;
}

.mySwiperLazy .swiper-slide:nth-child(1)>.mini-cards .card {
    background: #264653;
    color: #ffffff;
}

.mySwiperLazy .swiper-slide:nth-child(2)>.mini-cards .card {
    background: #2a9d8f;
    color: #ffffff;
}

.mySwiperLazy .swiper-slide:nth-child(3)>.mini-cards .card {
    background: #e9c46a;
    color: #ffffff;
}

.mySwiperLazy .swiper-slide:nth-child(4)>.mini-cards .card {
    background: #f4a261;
    color: #ffffff;
}

.mySwiperLazy .swiper-slide:nth-child(5)>.mini-cards .card {
    background: #e76f51;
    color: #ffffff;
}


.card-link a {
    color: #ffffff;
}

span.red {
    color: red;
}

.map-title h2 {
    font-size: 50px;
    font-weight: 600;
}

.map-text p {
    font-size: 15px;
    color: #ccc;
}

.item-list ul>li {
    list-style: none;

}

span.green {
    padding-right: 20px;
    color: #a4c19b;
}

.body-title p {
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}

.footer-par p {
    font-size: 15px;
    margin-top: 30px;
}

.text a {
    color: #313031;
    border: none;
    padding: 7px 12px;
    background: #d5d5d5;
    border-radius: 15px;
}

.container.footer {
    height: auto;
    background-image: url(../images/Layer66.png);
    background-position: contain;
    background-repeat: no-repeat;
    background-color: #1b313a;
}

.row.top-footer {
    margin: 30px 0px;
    padding: 50px 30px;
}

.row.middle-footer {
    margin: 60px 0px;
}

.row.bottom-footer {
    margin: 80px 0px;
}

ul.footer-list li {
    list-style: none;

}

ul.footer-list li a {
    color: #ffffff;
}

.footer-social li a {
    color: #ffffff;
}

.row.top-footer h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    width: 70%;
}

.row.top-footer p {
    color: #fcfcfd;
}

#footer {
    position: relative;
    display: block;
}

svg.svg-inline--fa.fa-envelope.fa-w-16.mr-2 {
    font-size: 30px;
}

@media (min-width: 992px) {
    a.navbar-brand {
        margin-right: 150px;
    }

    .nav.nav-white {
        width: 800px;
    }

    .wrapper_tabcontent {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .site_info {
        display: none;
    }

    .wrapper_tabcontent {
        display: none;
    }

    .tablinks {
        width: 60% !important;
    }
}

.tech-title h2 {
    font-size: 45px;
    font-weight: 600;
}

h2>span.red {
    color: red;
}

.left-text h4 {
    font-weight: 600;
}

.row.top-footer .form-group input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 26px;
    border: none;
    background: #21323a;
    outline: none;
    color: #ffffff;
}

.row.top-footer .form-group input::placeholder {
    padding-left: 10px;
    color: #748085;
}

.row.middle-footer button {
    width: 200px;
    padding: 16px 12px;
    border-radius: 26px;
    border: none;
    background: #4e6d77;
    outline: none;
    color: #ffffff;
}


.row.middle-footer svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
    margin-left: 20px;
}

.row.bottom-footer button {
    width: 200px;
    padding: 16px 12px;
    border-radius: 26px;
    border: none;
    background: #efb366;
    outline: none;
    color: #ffffff;
}


.row.bottom-footer svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
    margin-left: 20px;
}

.copyright {
    color: #ffffff;
}

.left-items .fa-envelope-open,
.left-items .fa-phone {
    color: #ffffff;
    font-size: 30px;
}

.right-items a {
    color: #ffffff;
    font-size: 20px;
}

.right-items p {
    color: #334e57;
}

.fa-long-arrow-alt-right {
    color: #ffffff;
    font-size: 25px;
    position: relative;
    top: 5px;

}

.btn-curve.btn-color>span {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .video-btn {
        position: relative;
        top: 50px;
        margin-bottom: 46px;
    }
}

@media (max-width: 600px) {
    .slider-bus .caption h1 {
        font-size: 35px;
    }

    .btn-curve.btn-color>span {
        padding-left: 0;
        font-size: 12px;
    }

    .container.technology {
        margin-top: 160px;
    }

    .container.x-slide {
        top: -70px !important;
    }

    .footer-logo img {
        margin-bottom: 20px;
    }

    .nav.nav-white {
        width: 83%;
    }
}

.slider-bus .caption h1 .container.maps {
    height: 65vh;
    background-image: url(../images/Layer43.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.color-items .box:nth-child(1) {
    height: 5px;
    width: 40px;
    margin-top: 20px;
    background: #009dcb;
}

.color-items .box:nth-child(2) {
    height: 5px;
    width: 40px;
    margin-top: 20px;
    background: #9d9d9c;
}

.color-items .box:nth-child(3) {
    height: 5px;
    width: 40px;
    margin-top: 20px;
    background: #f7a600;
}

.color-items .box:nth-child(4) {
    height: 5px;
    width: 40px;
    margin-top: 20px;
    background: #e30613;
}

.site_info {
    position: absolute;
    z-index: 9999;
    right: -20px;
    color: #7d949b;
    transform: rotate(270deg) translateY(80px) translateX(200PX);
    font-size: 20px;
}

.site_info span {
    color: #4e6d77;
    font-weight: 600;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    max-width: 600px;
    width: 100%;
    min-width: 260px;
    margin: 0 5%;
    transition: 0.3s ease;
}

/* Tabs menu */
.tabs {
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: unset;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 2px 2px 0px 0px;
}


/* Tab Links */
.tablinks {
    background: transparent;
    background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    /*change depending on the number of tabs*/
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    overflow: hidden;
    transition: 0.3s ease;
}


.tablinks:before {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}



/* Tab active */
.tablinks.active {
    background-color: white;
    z-index: 0;
    border-right: 0px;
    border-left: 0px;
    height: 110px;
    bottom: 0px;
    overflow: hidden;
}


/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
    opacity: 1;
}

.tablinks p {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
    color: #2b2b2b;
    backface-visibility: hidden;
    font-weight: 600;
    font-size: 20px;
}

.tablinks:hover p {
    color: #e30613;
    opacity: 1;
}





.tablinks:hover p:before {
    opacity: 0.1;
    font-size: 40px;
    top: -80%;
}

/* tab content */
.wrapper_tabcontent {
    background-color: white;
    margin-top: 0px;
    z-index: 4;
    position: absolute;
    opacity: 1;
    padding: 40px 60px;
    overflow: hidden;
    transition: all 1s ease;
    top: 100px;
    left: 250px;
}

.tabcontent {
    display: none;
    min-height: 180px;
}

@keyframes tabEffect {
    from {
        top: -40px;
    }

    to {
        top: 0px;
    }
}

.tabcontent li a {
    color: #313031;
}

.tabcontent.active {
    transition: all 1s ease;
    display: block;
}

/* Tab content line */
.wrapper_tabcontent:after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(135deg, #d62a47 0%, #0f0b13 100%);
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
    font-size: 40px;
    top: 75px;
    transform: rotate(90deg);
    position: absolute;
    left: -90px;
    opacity: 0.1;
    width: 200px;
    height: 60px;
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    animation: city 1s ease;
}



@keyframes city {
    from {
        left: -150px;
    }

    to {
        left: -90px;
    }
}

.tabcontent p {
    color: #686868;
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-weight: 100;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 100%;
    font-size: 16px;
}

@media screen and (max-width: 512px) {
  
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

@media screen and (max-width: 512px) {
    .content {
        margin: 0 4%;
        margin-top: 5%;
    }

    .tabs {
        height: 40px;
    }

    .tablinks {
        height: 40px;
        font-size: 12px;
    }
    .tablinks:hover::before {
        height: 0;
    }
    .tablinks.active {
        height: 60px;
    }
    .tablinks:hover p {
        color: #e30613;
        opacity: 0.6;
    }
    .tablinks p:before {
        display: none;
    }
    .tabcontent h3 {
        top: 65px;
    }

    .tabcontent p {
        font-size: 14px;
        line-height: 26px;
    }
}